version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:8001

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - sqlite_data_lux:/app/data


  immudb:
    image: codenotary/immudb:latest
    container_name: immudb_1
    command: ["--auth"]
    ports:
      - "8081:8081"   #  Web Console immudb
      - "3333:3333"   #  immudb gRPC
    volumes:
      - immudb_data:/var/lib/immudb_1

# tests:
#   build:
#     context: ./backend
#     dockerfile: Dockerfile
#
#   # Commande qui lançait pytest automatiquement
#   # command: pytest -v
#
#   # Dépendances (API + immudb)
#   depends_on:
#     - backend
#     - immudb
#
#   # Variables d’environnement immudb pour les tests
#   environment:
#     - IMMUDB_HOST=immudb
#     - IMMUDB_PORT=3322
#     - IMMUDB_USER=immudb
#     - IMMUDB_PASSWORD=immudb
#
#   # Volumes montés pour exécuter les tests
#   volumes:
#     - ./backend:/app
#     - sqlite_data_lux:/app/data


volumes:
  sqlite_data_lux:
  immudb_data:

